{% extends 'base.html' %}
{% block title %}Resources — RiseUp{% endblock %}

{% block content %}

<h1 class="display-5">Resources</h1>

<p>WHO age-to-height tables:</p>
<ul>
    <li>Boys Weeks 0-13: <a href="/static/data/tab_lhfa_boys_p_0_13.xlsx">Download</a></li>
    <li>Girls Weeks 0-13: <a href="/static/data/tab_lhfa_girls_p_0_13.xlsx">Download</a></li>
    <li>Boys Years 0-2: <a href="/static/data/tab_lhfa_boys_p_0_2.xlsx">Download</a></li>
    <li>Girls Years 0-2: <a href="/static/data/tab_lhfa_girls_p_0_2.xlsx">Download</a></li>
    <li>Boys Years 2-5: <a href="/static/data/tab_lhfa_boys_p_2_5.xlsx">Download</a></li>
    <li>Girls Years 2-5: <a href="/static/data/tab_lhfa_girls_p_2_5.xlsx">Download</a></li>
    <li>Boys Years 5-19: <a href="/static/data/hfa-boys-perc-who2007-exp.xlsx">Download</a></li>
    <li>Girls Years 5-19: <a href="/static/data/hfa-girls-perc-who2007-exp.xlsx">Download</a></li>
</ul>

{% endblock %}